<h1 mat-dialog-title>Dobrodošli na portal "kulturni događaji Srbije"</h1>
<h2 mat-dialog-title>Pravilnik i uputstvo o korišćenju našeg portala</h2>
<mat-dialog-content class="mat-typography">
  <h3>Opšti uslovi korišćenja</h3>
  <p>Potal je namjenjen promociji kulturnih događaja u Srbiji. Da bi uspešno mogli da koristite naš portal morate biti registrovani.</p>

  <h3>Uslovi registracije</h3>
  <p>Registrovati se mogu svi zainteresovani članovi bilo koje organizacije. Sa registraciom vaše organizacije otvaraju vam se mogucnosti da postavljate razne događaje, vesti i ankete u cilju promocije ativnosti vaše organizacije. </p>

  <h3>Pravila korišćenja</h3>
  <p>Sve obajve moraju biti normalnog karaktera, bez nasilih isticanja i promocije političkih aktivnosti. Vaše objave koje budu suprotne Pravilniku bice obrisane od strane administratora portala.</p>

  <h3>Provera i zaštita podataka</h3>
  <p>Svi podaci koje objavite kao javne, bice dostupni za pregled svim korisnicima portala. Vaši podaci koje unesete prilikom registracije ostaju skriveni i dostupni su samo administratorima i vama prilikom pregleda vašeg profila.</p>

  <h3>Azuriranje profila</h3>

  <p>Posle obavljene registracije, svoj profil možete dodatno da ažurirate. Primer, u slučaju da dođe do promene adrese vaše organizacije ili bilo kog drugog podatka bitnog za vašu organizaciju možete da ga ažurirate iz sekcije <i>profil / urdite profil</i>.</p>

  <h3>Podrška</h3>

  <p>Protal je pokriven administratorskom podrškom 0/24 časa, na koju možete da pisete iz sekcije <i>kontaktiraj nas</i>.</p>
  <p>Vaša pitanja pregleda dostupni administrator portala i odgovara vam na vaš unijeti email.</p>
  <p></p>


  <p>Vaš tim KD Srbije&reg; 2021</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Prihvatam uslove korišćenja</button>
</mat-dialog-actions>