<app-nav></app-nav>
<div class="container" *ngFor="let e of events">
    <div class="event-card alt" *ngIf="id===e.id">
        <div class="meta">
            <div class="photo" style="background-image: url({{e.imageUrl}})"></div>
            <ul class="details">
                <li class="author">Autor: <a>{{ e.author }}</a></li>
                <li class="date">Objavljeno: <a>{{ e.publishingDate | date: 'HH:mm' }}, {{ e.publishingDate | date: 'dd.MM.yyyy' }}</a></li>
                <li class="tags">
                    <ul>
                        <li>Pravila:</li>
                        <li><a>{{ e.ageLimit }} &nbsp;</a></li>
                        <li *ngFor="let spec of e.specialConditions"><a>{{ spec }} &nbsp;</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="description">
            <h2>{{ e.eventType }}</h2>
            <span class="visibility" *ngIf="e.visibility == 'privatno'">
                <button mat-icon-button>
                    <mat-icon>visibility_off</mat-icon>
                </button>
            </span>
            <h1>{{ e.title }}</h1>
            <h2>{{ e.dateOfEvent | date: 'dd.MM.yyyy' }}, {{ e.timeOfEvent }}</h2>
            <h3><span>{{ e.eventSpace }}</span> - {{ e.eventPlace }}</h3>
            <!-- <p>{{e.description}}</p> -->
            <p>{{ e.content }}</p>
            <p class="read-more">
                <button mat-button (click)="visibilityOff(e.id)">Arhiviraj događaj</button>
                <button mat-button >Zahtev za brisanje</button>
                <button mat-button routerLink='/events'>Nazad</button>
            </p>
        </div>
    </div>
</div>